@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 1px #001e27; */
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 1px #001e27;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #001e27;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005772;
}

@layer components {
  .HIGHLIGHT-TEXT {
    @apply bg-clip-text text-transparent bg-gradient-to-br from-amber-700 to-highlight;
  }
  .TW-CARDS {
    @apply h-full w-full flex flex-col justify-center gap-4 skew-y-[-3deg] shadow-xl rounded-xl;
  }
  .TW-DARK-CARDS {
    @apply bg-main/70 text-white backdrop-blur-xl;
  }
  .TW-WHITE-CARDS {
    @apply bg-white/20 backdrop-blur-3xl;
  }
  .TW-CANVAS {
    @apply w-[80vw] h-[50vh] xl:w-[60vw] xl:h-screen;
  }
  .TW-LOGO-SKILL {
    @apply p-2 contrast-[0.8];
  }
}
